<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mikael Endale Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="style.css" rel="stylesheet" />
   <script>
  document.addEventListener("DOMContentLoaded", function() {
    const darkMode = localStorage.getItem("dark-mode") === "true";
    const signatureLight = document.querySelector(".signature-light");
    const signatureDark = document.querySelector(".signature-dark");

    // Initially hide both images
    signatureLight.style.display = "none";
    signatureDark.style.display = "none";

    // Check if dark mode is enabled and toggle the signatures
    if (darkMode || localStorage.getItem("dark-mode") === "true") {
      document.querySelector("html").classList.add("dark");
      signatureDark.style.display = "block"; // Show dark signature
    } else {
      document.querySelector("html").classList.remove("dark");
      signatureLight.style.display = "block"; // Show light signature
    }
  });
</script>
  </head>

  <body class="crok3 cd5fh c0n2d ca1ms ciyl2 cmwzp c7v7z">
    <div class="cb1d7 c3x9r">
      <div class="cxsad conep">
        <div class="cxq13 c3v30 catbj c9rq6 cmlqw czk57 c2yrc">
          <div class="cbpt3 cxnuf">
            <div class="coily c78d5 c27dl">
              <!-- Header -->
              <header class="cvz7l cpi2s">
                <!-- Dark mode toggle -->
                <div class="czq8f coily c3mug">
                  <div class="cbdaa cyj82 c8xr8 c2276">
                    <input
                      type="checkbox"
                      name="light-switch"
                      id="light-switch"
                      class="light-switch cee2v"
                    />
                    <label class="cu81w ch70x c090i" for="light-switch">
                      <svg
                        class="cx0yj"
                        width="16"
                        height="16"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          class="cvgee"
                          d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z"
                        ></path>
                        <path
                          class="cf0l8"
                          d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z"
                        ></path>
                      </svg>
                      <svg
                        class="cgfis cd4qx"
                        width="16"
                        height="16"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          class="cbnwc"
                          d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z"
                        ></path>
                        <path
                          class="cf0l8"
                          d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z"
                        ></path>
                      </svg>
                      <span class="cee2v">Switch to light / dark version</span>
                    </label>
                  </div>
                </div>
                <!-- Intro -->
                <div class="co3ns">
                  <img
                    class="ca3bq cyj82 czi0k cev7p"
                    src="images/mike_img.png"
                    width="48"
                    height="48"
                    alt="Jordan Walker"
                  />
                  <div class="cnwz9">
                    <h1 class="cxqn4 ckx3g cx37a c4o0c ca1ms c7v7z">
                      Mikael Endale
                    </h1>
                    <p class="cl9w0 cjnk1 cu98r">
                      Fullstack developer, <b>Tech Entrepreneur</b> and Founder.
                    </p>
                  </div>
                  <a
                    class="c8j31 cu81w cqzhu c8uww ctphr c1m9b cdvd9 c5v5y c57ju ca0vo cz4g8 ceq97 c3ew3 cb1r6 cel1w cyamd cjf4f cvr54 cha6o cht5m c6x6e c7vou"
                    href="mailto:mikaelendale00@gmail.com"
                    >Available For Work</a
                  >
                </div>
                <div class="coily c2276 c37m1 cdgze">
                  <img
                    class="c752s cev7p c88aw cs4tg ccy0p cna1y cfbgi c65hu"
                    src="images/lalodev.png"
                    width="245"
                    height="160"
                    alt="Header 01"
                  />
                  <img
                    class="c752s cev7p c88aw cs4tg ccy0p cna1y cfbgi c65hu"
                    src="images/header-image-02.jpg"
                    width="245"
                    height="160"
                    alt="Header 02"
                  />
                  <img
                    class="c752s cev7p c88aw cs4tg ccy0p cna1y cfbgi c65hu"
                    src="images/header-image-03.jpg"
                    width="245"
                    height="160"
                    alt="Header 03"
                  />
                </div>
              </header>

              <!-- Content -->
              <main class="cehj8 c4p6t cj2ez">
                <!-- Experience -->
                <section>
                  <h2 class="cragt ckx3g cuykd c045m ca1ms c7v7z">
                    Experience
                  </h2>
                  <div class="ce075">
                    <!-- Post #1 -->
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/logo.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">2023 - Today</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a
                                class="c0t07 ciyg5 c9n2z csdx0 cg1zu"
                                href="https://lalodev.com"
                                target="_blank"
                                >Senior Developer and CEO | Lalodev</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            I lead Lalo Dev with a passion for creating
                            innovative, I balance coding with guiding my team to
                            build scalable, impactful platforms. My goal is to
                            be a great developer and I am still a highschool
                            student.
                          </p>
                        </div>
                      </div>
                    </article>
                    <!-- Post #2 -->
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/Nexus.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">2024 - 2025</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a class="c0t07 ciyg5 c9n2z csdx0 cg1zu" href="#0"
                                >Volunteer and director of IT department |
                                Nexus</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            As a Volunteer and Director of the IT Department at
                            Nexus, I oversee technology initiatives to support
                            the organization’s mission. I manage systems,
                            streamline operations, and implement innovative
                            solutions to drive efficiency.
                          </p>
                        </div>
                      </div>
                    </article>
                    <!-- Post #3 -->
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/alx.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">2024</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a
                                class="c0t07 ciyg5 c9n2z csdx0 cg1zu"
                                href="https://alxethiopia.com"
                                >Winner of Addis Teen Code Hackathon | ALX
                                Ethiopia</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            I proudly won the Addis Teen Code Hackathon hosted
                            by ALX Ethiopia, where I showcased creativity,
                            teamwork, and technical expertise. Our project stood
                            out, and it was a recipe website, it showed
                            practical impact reflecting my passion for solving
                            challenges through code.
                          </p>
                        </div>
                      </div>
                    </article>
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/futurex.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">2024 - 2025</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a
                                class="c0t07 ciyg5 c9n2z csdx0 cg1zu"
                                href="https://www.youtube.com/watch?v=RlAGECtNgPQ"
                                >Featured Guest | Future X Podcast</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            I had the privilege of being interviewed on the
                            Future X Podcast, where I shared insights on my
                            journey in tech, my passion for innovation, and the
                            projects that drive me. It was an exciting
                            opportunity to inspire others and discuss the future
                            of technology.
                          </p>
                        </div>
                      </div>
                    </article>
                    <!-- Post #3 -->
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/logo.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">2024 - today</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a
                                class="c0t07 ciyg5 c9n2z csdx0 cg1zu"
                                href="https://learn.lalodev.com"
                              >
                                Founder of Learning Hub | Lalo Dev</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            As part of Lalo Dev, I launched Learning Hub, an
                            educational platform designed to empower learners
                            with accessible resources and tools. Through
                            strategic planning and execution, the platform has
                            generated over
                            <strong style="background-color: yellow"
                              >250,000 ETB</strong
                            >
                            as of now, and currently January 2025 I started the
                            3rd round.
                          </p>
                        </div>
                      </div>
                    </article>
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/aviation.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">Dec, 2023</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a class="c0t07 ciyg5 c9n2z csdx0 cg1zu" href="#0"
                                >Participant | Aviation 2023 Expo, Hosted by
                                Ethiopian Airlines</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            I had the honor of participating in the Aviation
                            2023 Expo, hosted by Ethiopian Airlines. This event
                            allowed me to engage with industry leaders, explore
                            aviation technologies, and contribute to discussions
                            on the future of the aviation sector.
                          </p>
                        </div>
                      </div>
                    </article>
                    <!-- Post #3 -->
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/bits.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">Oct, 2024</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a
                                class="c0t07 ciyg5 c9n2z csdx0 cg1zu"
                                href="https://alxethiopia.com"
                                >3rd Place | BITS College Hackathon</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            As a high school student, I proudly secured 3rd
                            place in the BITS College Hackathon, competing
                            against university students. This experience was a
                            great opportunity to challenge myself, showcase my
                            skills, and collaborate on innovative solutions,
                            proving that age is no barrier to success in tech.
                          </p>
                        </div>
                      </div>
                    </article>
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/meta.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">Nov, 2022</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a class="c0t07 ciyg5 c9n2z csdx0 cg1zu" href="#0"
                                >Attendee | "My Digital World" Course by Meta &
                                KEMMCOM</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            I attended the "My Digital World" course, offered by
                            Meta and Kemmcom, which explored the impacts of
                            social media. This course provided valuable insights
                            into how digital platforms shape society and
                            influence communication, empowering me to better
                            navigate and understand the digital landscape.
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                </section>

                <!-- Projects -->
                <section>
                  <h2 class="cragt ckx3g cuykd c045m ca1ms c7v7z">Projects</h2>
                  <div class="ce075">
                    <!-- Post #1 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: green; font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #Done
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a
                            class="c5v5y c57ju"
                            href="https://lalodev.com"
                            target="_blank"
                            >Lalo Dev Landing Page & Developer Page</a
                          >
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        The Lalo Dev Landing Page introduces visitors to the
                        platform with a clean, user-friendly design, featuring
                        key offerings and clear calls to action. The Developer
                        Page showcases the technical side of Lalo Dev,
                        highlighting the tech stack, development process, and
                        projects.
                      </p>
                    </article>
                    <!-- Post #2 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: green; font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #Done
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju"
                            >Domain Management System | Lalo Dev</a
                          >
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        The Domain Management System at Lalo Dev helps manage
                        everything under the platform, from Learning Hub and
                        blog pages to community spaces and course materials. It
                        makes it easy to update, organize, and keep everything
                        running smoothly across the site, ensuring a great
                        experience for both users and admins.
                      </p>
                    </article>
                    <!-- Post #3 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: green; font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #Done
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju" href="#0"
                            >Lalo Dev Learning Hub</a
                          >
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        The Lalo Dev Learning Hub offers a range of courses and
                        resources to help users upskill. Now in its 3rd round
                        Jan 25/2025, the platform has already generated over
                        <strong style="background-color: yellow"
                          >250,000 ETB</strong
                        >
                        as of now , making a positive impact on learners and the
                        community.
                      </p>
                    </article>
                    <!-- Post #2 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: rgb(175, 175, 71); font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #ongoing
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju">StudMind</a>
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        StudMind is an ongoing SaaS project focused on using AI
                        to enhance the study experience. It leverages artificial
                        intelligence to provide personalized learning paths,
                        study materials, and smart tools to help students study
                        more effectively and efficiently.
                      </p>
                    </article>
                    <!-- Post #3 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: rgb(175, 175, 71); font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #ongoing
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju" href="#0">Quantum Chat</a>
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        Quantum Chat is an ongoing project using quantum
                        cryptography to create a super-secure messaging
                        platform. It’s designed to keep your conversations safe
                        and private, with extraordinary encryption technology.
                      </p>
                    </article>
                    <!-- Post #2 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: rgb(175, 175, 71); font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #ongoing
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju">Smart Payment Integration</a>
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        Smart Payment Integration is a secret project that uses
                        quantum encryption to ensure secure and private
                        transactions. It’s designed to provide a highly secure,
                        seamless payment experience, prioritizing privacy and
                        data protection.
                      </p>
                    </article>
                    <!-- Post #3 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      >
                        <svg
                          class="csx92 cfsq7 cotl8"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="10"
                        >
                          <path
                            d="M1.018 10 0 8.983l7.572-7.575H1.723L1.736 0H10v8.266H8.577l.013-5.841L1.018 10Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="czq8f cxrkr">
                        <div
                          style="color: rgb(175, 175, 71); font-weight: 600"
                          class="cp78t ckgk8 cjnk1 cu98r"
                        >
                          #ongoing
                        </div>
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju" href="#0"
                            >ERP School Management System</a
                          >
                        </h3>
                      </div>
                      <p class="cl9w0 cjnk1 cu98r">
                        The ERP School Management System is an ongoing project
                        built by a dedicated team, designed to streamline school
                        operations. It covers everything from student records
                        and grades to class schedules, making school management
                        more efficient and organized.
                      </p>
                    </article>
                  </div>
                </section>

                <!-- Side Hustles -->
                <section>
                  <h2 class="cragt ckx3g cuykd c045m ca1ms c7v7z">
                    Side Hustles
                  </h2>
                  <div class="c1hft c37m1 cbi4k">
                    <!-- Post #1 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      ></div>
                      <div
                        class="ca3bq coily cj7hi c72v2 c8xr8 c2276 czi0k cw9ok cun1p cmlqw csjzu cf4er chc5d"
                      >
                        <img
                          src="https://cdn0.iconfinder.com/data/icons/business-finance-hexagon/128/14-256.png"
                          alt=""
                        />
                      </div>
                      <div class="ce075">
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju" href=""
                            >Tech Consulting for Startups</a
                          >
                        </h3>
                        <p class="cl9w0 cjnk1 cu98r">
                          Offer consulting services to new businesses or fellow
                          students looking to build apps, websites, or tech
                          solutions
                        </p>
                      </div>
                    </article>
                    <!-- Post #2 -->
                    <article
                      class="cu81w c752s c1q7e ceoke ciqjs czmrt cdgze cqd2s citpx cjmwz"
                    >
                      <div
                        class="ciobu cl22f c5zah cn1lv c88aw c4s0r cn899 caf15 c62sf"
                        aria-hidden="true"
                      ></div>
                      <div
                        class="ca3bq coily cj7hi c72v2 c8xr8 c2276 czi0k cw9ok cun1p cmlqw csjzu cf4er chc5d"
                      >
                        <img
                          src="https://cdn1.iconfinder.com/data/icons/business-700/48/Candle_Sticks-512.png"
                          alt=""
                        />
                      </div>
                      <div class="ce075">
                        <h3 class="c045m ca1ms c7v7z">
                          <a class="c5v5y c57ju" href="">Forex Trading.</a>
                        </h3>
                        <p class="cl9w0 cjnk1 cu98r">
                          I explore the world of FX Trading, where I analyze
                          currency markets and trade different currency pairs
                        </p>
                      </div>
                    </article>
                  </div>
                </section>
                <section>
                  <h2
                    style="color: rgb(172, 165, 125)"
                    class="cragt ckx3g cuykd c045m ca1ms c7v7z"
                  >
                    Education
                  </h2>
                  <div class="ce075">
                    <!-- Post #1 -->
                    <article
                      class="c752s c1q7e ceoke ciqjs czmrt cqd2s citpx cjmwz"
                    >
                      <div class="cs7fr chiqp">
                        <div
                          class="coily cfrxt cw2a0 c9riz c8xr8 c2276 czi0k cw9ok cun1p cmlqw csjzu cf4er chc5d cop7l cebxb"
                        >
                          <img src="images/lebawi.png" alt="" />
                        </div>
                        <div>
                          <div class="cxozv cxrkr">
                            <div class="cp78t c5qvh cplrd">2020 - Today</div>
                            <h3 class="c045m ca1ms c7v7z">
                              <a class="c0t07 ciyg5 c9n2z csdx0 cg1zu" href="#0"
                                >Highschool Student | Lebawi International
                                Academy</a
                              >
                            </h3>
                            <div
                              class="text-gray-600dark:text-gray-400 cp78t ckgk8"
                            >
                              Ethiopia, Addis Ababa
                            </div>
                          </div>
                          <p class="cl9w0 cjnk1 cu98r">
                            I am currently a Grade 11 Natural Science student at
                            Lebawi Academy, where I am expanding my knowledge in
                            science and technology while balancing my passion
                            for tech projects and side hustles.
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                </section>
                <h1 style="text-align: center" class="cl9w0 cjnk1 cu98r">
                  "Building the future, one innovation at a time." <br />
                  <span style="text-align: end">me 😁</span>
                </h1>
              </main>
              <!-- Footer -->
              <footer class="c4p6t ck1og cpi2s">
                <!-- Initials logo -->
                <div>
                  <!-- Light Mode Signature -->
                  <img
                    src="images/signature.png"
                    class="cyj82 cal0l cfs63 signature-light"
                    alt=""
                  />

                  <!-- Dark Mode Signature -->
                  <img
                    src="images/signature_white.png"
                    class="cyj82 cal0l cfs63 signature-dark"
                    alt=""
                  />
                </div>
                <div class="cqduh">
                  <!-- Social icons -->
                  <ul class="cyj82 c37m1">
                    <li>
                      <a
                        class="coily c8per cor69 c8xr8 c2276 czi0k cw9ok cun1p cmlqw cjnk1 csjzu cw7qc ccjug cf4er chc5d cu98r cns9e"
                        href="#0"
                        aria-label="X"
                      >
                        <svg
                          class="csx92"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="14"
                        >
                          <path
                            d="M16 14h-4.938L7.197 9.108 2.771 14H.316l5.736-6.342L0 0h5.063l3.496 4.476L12.601 0h2.454L9.697 5.932 16 14Zm-4.26-1.422h1.36L4.323 1.347H2.865l8.875 11.231Z"
                          ></path>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a
                        class="coily c8per cor69 c8xr8 c2276 czi0k cw9ok cun1p cmlqw cjnk1 csjzu cw7qc ccjug cf4er chc5d cu98r cns9e"
                        href="#0"
                        aria-label="GitHub"
                      >
                        <svg
                          class="csx92"
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                        >
                          <path
                            d="M7.95 0C3.578 0 0 3.578 0 7.95c0 3.479 2.286 6.46 5.466 7.553.397.1.497-.199.497-.397v-1.392c-2.187.497-2.683-.994-2.683-.994-.398-.894-.895-1.192-.895-1.192-.696-.497.1-.497.1-.497.795.1 1.192.795 1.192.795.696 1.292 1.888.894 2.286.696.1-.497.298-.895.497-1.093-1.79-.2-3.578-.895-3.578-3.976 0-.894.298-1.59.795-2.087-.1-.198-.397-.993.1-2.086 0 0 .695-.2 2.186.795a6.408 6.408 0 0 1 1.987-.299c.696 0 1.392.1 1.988.299 1.49-.994 2.186-.796 2.186-.796.398 1.094.199 1.889.1 2.087.496.597.795 1.292.795 2.087 0 3.081-1.889 3.677-3.677 3.876.298.398.596.895.596 1.59v2.187c0 .198.1.496.596.397C13.714 14.41 16 11.43 16 7.95 15.9 3.578 12.323 0 7.95 0Z"
                          ></path>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a
                        class="coily c8per cor69 c8xr8 c2276 czi0k cw9ok cun1p cmlqw cjnk1 csjzu cw7qc ccjug cf4er chc5d cu98r cns9e"
                        href="#0"
                        aria-label="Facebook"
                      >
                        <svg
                          class="csx92"
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="15"
                        >
                          <path
                            d="m2.834 15-.022-6.563H0V5.626h2.813V3.75C2.813 1.22 4.38 0 6.636 0c1.081 0 2.01.08 2.281.116v2.645H7.353c-1.228 0-1.466.584-1.466 1.44v1.424h3.488l-.938 2.813h-2.55V15H2.834Z"
                          ></path>
                        </svg>
                      </a>
                    </li>
                  </ul>
                  <!-- Copyright notes -->
                  <p class="cl9w0 cn1lv caf15">
                    © Jordan Walker. All rights reserved.
                  </p>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vendors/alpinejs.min.js" defer=""></script>
    <script src="js/main.js"></script>

    <script>
      console.log("%cImportant!", "color: blue; font-size: x-large");
      console.log(
        "%cThe page you are viewing is for demo purposes only. CSS and HTML have been minified and class names have been shortened to improve the page load time. Download our templates from https://cruip.com/ 😉",
        "font-size: large"
      );
    </script>
    <script>
      const pagesList = [
        {
          name: "Home",
          url: "https://preview.cruip.com/devfolio/index.html",
          active: true,
        },
      ];
      if (window != top) {
        window.parent.postMessage(pagesList, "https://cruip.com/");
      }
    </script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
      integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
      data-cf-beacon='{"rayId":"90772900bb8c16a9","version":"2025.1.0","r":1,"serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"59cc17d45d734f9ba118c63036ab1b84","b":1}'
      crossorigin="anonymous"
    ></script>
  </body>
  <!-- Mirrored from preview.cruip.com/devfolio/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 Jan 2025 09:15:46 GMT -->
</html>
